<style>

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
}

@media only screen and (max-device-width: 1366px) {
  .s1, .s3 {
    background-attachment: scroll;
  }
}

/*Arrangement of navigation bar*/
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px;
	position: fixed;
	overflow: hidden;
	background-color: #333;
	width: 100%;
	z-index: 2;
}


/*make sure navigation bar is always on top of the page*/
nav {
	order:  1;
	position: sticky;
	top:  0;
}


/*Navigation bar styling*/
ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
}

li {
	display: inline-block;
	padding: 0px 0px;
}

li a {
	display:  block;
	color:  white;
	padding:  14px 16px;
	text-decoration: none;
}

/*Change color when you hover over navigation bar*/
li a:hover {
	background-color: #111;
}

/*LANDING PAGE*/

/*home page sectioning*/
section {
	display: block;
	height:  100vh;
}

/*site title*/
.s1{
	background-image: url('images/bg1.jpg');
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*site title font styling*/
.s1 h1 {
	color: #001447;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	font-size: 4.5em;
}

.s1 h3 {
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 1.25em;
	color: #D1DEEE;
}

/*site description/introduction*/
.s2{
	background-color: #E5F4FF;
	min-height: 100%;
	height: 100vh;
  background-size: 100%;
  display: flex;
	justify-content: center;
	align-items: center;
}


/*site description/introduction font styling*/
.s2 p {
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 1.25em;
	color: #001447;
}

.s2 h1 {
	color: #001447;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	font-size: 4.4em;
}


/*reasons to sign up section*/
.s3{
	background-image: url('images/bg2.jpg');
	min-height: 100%;
	height: 100vh;
  background-size: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.s3 p{
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 1.25em;
	color: #D1DEEE;
	text-shadow: 2px 2px #001447;
}

.s3 h1 {
	color: #001447;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	font-size: 4.4em;
	text-shadow: 0.5px 0.5px #D1DEEE;
}

/*Center all test within the sites sections*/
.home-text, .trip-planner-text, .login-text {
	position: absolute;
	padding:  10%;
	text-align: center;
}

/*enable parallax scrolling*/
.s1, .s3 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-size: 100%;
}


/*website button styling*/
.btn {
	background-color: #72ADD8;
	border:  none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display:  inline-block;
	font-size:  16px;
	margin:  4px 2px;
	border-radius: 12px;
	cursor: pointer;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	margin-top: 15px;
}

/*change color of button when you hover*/
.btn:hover{
	background-color: #72A3D8;
}


.login-table {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 100px;
}

.column {
 text-align: center;
}

/*about page main canvas*/
.main-canvas-about {
	background-color: #E5F4FF;
}

/*ABOUT PAGE*/


/*Heading section for about page styling*/
.about-heading {
	background-image: url('images/bg4.jpg');
	background-size: cover;
	height: 150px;
	padding: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*about heading font styling*/
.about-heading h1 {
	color: #001447;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	font-size: 4.5em;
}


/*Little project description*/
.project-des {
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 1.25em;
	color: #001447;
	padding-top:  7%;
	padding-left: 25%;
	padding-right: 25%;
	padding-bottom: 3%;
}

/*section for team member intros*/
.team {
	padding:  0;
}

/*Meet the team! heading*/
.team-heading {
	font-family: 'PT Sans', sans-serif;
	text-align: center;
	font-weight: 700;
	font-size: 2em;
}

/*container class for all members, each individual member is a column */
.members {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 12px;
	justify-items: center;
	align-items: center;
	grid-auto-flow: column;
	padding: 5%;
	padding-top: 0;
	margin-left: 15%;
	margin-right: 15%;
}

/*individual member block styling*/
.member {
  display: block;
  width: 250px;
  height: 350px;
  background-color: #B5D4EC;
  box-shadow: 5px 5px #001d52;
}

.mem-text {
	margin:  20px;
	margin-top: 10px;
}

.member h3 {
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	font-size: 1.25em;
	margin: 0;
}

.member p {
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 1em;
	margin: 0;
	margin-top: 5px;
}

.member-photo{
  width: 250px;
  height: 250px;
}

/*LOGIN PAGE*/

/*main canvas for login page*/
.main-canvas-login {
	background-image: url('images/login.jpg');	
	background-size: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}


/*SIGN UP PAGE*/

.main-canvas-signup {
	background-image: url('images/signup.jpg');	
	background-size: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*login, sign up form will be in a box in the center of the page*/
.center-box{
	background-color: #E5F4FF;
	height: 500px;
	width: 350px;
	box-shadow: 5px 5px #001d52;
	display: flex;
}

.center-box h2 {
	margin-bottom: 30%;
	margin-top: 25%;
	color: #001447;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	font-size: 1.75em;
}

.main-canvas-login h2 {
	margin-top: 130px;
}

.center-box, .viz-form label {
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 0.9em;
}

.center-box, .viz-form input {
	margin-bottom: 15px;
}

.center-box-content {
	margin-left: 25%;
	margin-right: 25%;
}

.sign-up-form {
	padding-bottom: 25%;
	margin-top: 1.5em;
}

/*PLAN TRIP PAGE*/

/*the map*/
.visualization {
	margin:  25%;
}

/*form for inputting data*/
.viz-form {
	margin:  25px;
	margin-top: 0;
}

/*submit & save canvas buttons*/
.btns {
	margin-left: 25px;
}

/*settings for body of viz page*/
.viz {
	display: block;
	justify-content: center;
	align-items: center;
	background-color: #E5F4FF ;
}

/*main canvas for viz page*/
.plan-trip-canvas {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

/*FOOTER*/


.footer{
	background-color: #001d52;
	color:  white;
	height: 40vh;
	left: 0;
	bottom: 0;
	min-height: 230px;
	position: relatives;
	background-size: 100%;
	color: white;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 1em;
}


.footer-content {
	display: flex;
	align-items: center;
	padding: 30px;
	padding-left: 45px;
	padding-top: 45px;
}

.course-det {
	padding-right:  350px;
}



</style>
